@import '../style/variables.scss';

$trigger-prefix-cls: '#{$prefix-class}-trigger';

.#{$trigger-prefix-cls}-portal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  // modal 1000 要比modal高
  z-index: 1001;
}

.#{$trigger-prefix-cls}-container {
  position: absolute;
}

.#{$trigger-prefix-cls}-hidden {
  display: none;
}