@import "../style/variables.scss";

$message-prefix-cls: '#{$prefix-class}-message';

.#{$message-prefix-cls}-container {
  position: fixed;
  left: 0;
  top: 8px;
  z-index: 1001;
  font-size: $font-size-base;
  width: 100%;
  pointer-events: none;
}

.#{$message-prefix-cls}-notice {
  padding: 8px;
  text-align: center;
  pointer-events: none;
}

.#{$message-prefix-cls}-notice-content {
  display: inline-flex;
  align-items: center;
  padding: 10px 22px;
  background: #fff;
  border-radius: 1px;
  pointer-events: all;

  .#{$message-prefix-cls}-icon {
    margin-right: 12px;
    font-size: 22px;
  }

  &.#{$message-prefix-cls}-info {
    background-color: $primary-light-color;
    border: 1px solid $primary-color;

    .#{$message-prefix-cls}-icon {
      color: $primary-color;
    }
  }

  &.#{$message-prefix-cls}-success {
    background-color: $success-light-color;
    border: 1px solid $success-color;

    .#{$message-prefix-cls}-icon {
      color: $success-color;
    }
  }

  &.#{$message-prefix-cls}-error {
    background-color: $danger-light-color;
    border: 1px solid $danger-color;

    .#{$message-prefix-cls}-icon {
      color: $danger-color;
    }
  }

  &.#{$message-prefix-cls}-warn {
    background-color: $warn-light-color;
    border: 1px solid $warn-color;

    .#{$message-prefix-cls}-icon {
      color: $warn-color;
    }
  }

  .#{$message-prefix-cls}-content {
    text-align: left;
  }
}