@import "../style/variables.scss";

$message-prefix-cls: '#{$rbp-prefix}-message';

.#{$message-prefix-cls}-container {
  position: fixed;
  left: 0;
  top: 8px;
  z-index: 1001;
  font-size: 14px;
  width: 100%;
  pointer-events: none;
}

.#{$message-prefix-cls}-notice {
  padding: 8px;
  text-align: center;
  pointer-events: none;

  &.#{$message-prefix-cls}-move-appear {
    animation: showMove .1s ease-out;
  }

  &.#{$message-prefix-cls}-move-leave {
    animation: hideMove .25s ease-out;
  }
}

.#{$message-prefix-cls}-notice-content {
  display: inline-flex;
  align-items: center;
  padding: 10px 22px;
  background: #fff;
  border-radius: 1px;
  pointer-events: all;

  .#{$message-prefix-cls}-icon {
    margin-right: 12px;
    font-size: 22px;
  }

  &.#{$message-prefix-cls}-info {
    background-color: rgba($primary, .1);
    border: 1px solid $primary;

    .#{$message-prefix-cls}-icon {
      color: $primary;
    }
  }

  &.#{$message-prefix-cls}-success {
    background-color: rgba($green, .1);
    border: 1px solid $green;

    .#{$message-prefix-cls}-icon {
      color: $green;
    }
  }

  &.#{$message-prefix-cls}-error {
    background-color: rgba($danger, .1);
    border: 1px solid $danger;

    .#{$message-prefix-cls}-icon {
      color: $danger;
    }
  }

  &.#{$message-prefix-cls}-warn {
    background-color: rgba($yellow, .1);
    border: 1px solid $yellow;

    .#{$message-prefix-cls}-icon {
      color: $yellow;
    }
  }

  .#{$message-prefix-cls}-content {
    text-align: left;
  }
}

@keyframes showMove {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hideMove {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%);
    opacity: 0;
  }
}