.fade-in {
	animation: fadeIn .2s ease-out;
}

.fade-out {
	animation: fadeOut .2s ease-out;
}

// ----------透明度动画 start----------
@keyframes fadeOut {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
// ----------透明度动画 end----------