@import '../../style/variables.scss';

$trigger-arrow-prefix-cls: '#{$prefix-class}-trigger-arrow';

$translate: 5px;

.#{$trigger-arrow-prefix-cls} {
  position: absolute;
}

.#{$trigger-arrow-prefix-cls}-top-left,
.#{$trigger-arrow-prefix-cls}-bottom-left {
  left: $translate;
}

.#{$trigger-arrow-prefix-cls}-top-right,
.#{$trigger-arrow-prefix-cls}-bottom-right {
  right: $translate;
}

.#{$trigger-arrow-prefix-cls}-left-top,
.#{$trigger-arrow-prefix-cls}-right-top {
  top: $translate;
}

.#{$trigger-arrow-prefix-cls}-left-bottom,
.#{$trigger-arrow-prefix-cls}-right-bottom {
  bottom: $translate;
}

// --------上方箭头 start--------
.#{$trigger-arrow-prefix-cls}-top-left,
.#{$trigger-arrow-prefix-cls}-top-center,
.#{$trigger-arrow-prefix-cls}-top-right {
  bottom: 0;
}
.#{$trigger-arrow-prefix-cls}-top-left {
  transform: translateY(100%);
}
.#{$trigger-arrow-prefix-cls}-top-center {
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}
.#{$trigger-arrow-prefix-cls}-top-right {
  transform: translateY(100%);
}
// --------上方箭头 end--------

// --------下方箭头 start--------
.#{$trigger-arrow-prefix-cls}-bottom-left,
.#{$trigger-arrow-prefix-cls}-bottom-center,
.#{$trigger-arrow-prefix-cls}-bottom-right {
  top: 0;
}
.#{$trigger-arrow-prefix-cls}-bottom-left {
  transform: translateY(-100%);
}
.#{$trigger-arrow-prefix-cls}-bottom-center {
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
}
.#{$trigger-arrow-prefix-cls}-bottom-right {
  transform: translateY(-100%);
}
// --------下方箭头 end--------

// --------右侧箭头 start--------
.#{$trigger-arrow-prefix-cls}-left-top,
.#{$trigger-arrow-prefix-cls}-left-center,
.#{$trigger-arrow-prefix-cls}-left-bottom {
  right: 0;
}
.#{$trigger-arrow-prefix-cls}-left-top {
  transform: translateX(100%);
}
.#{$trigger-arrow-prefix-cls}-left-center {
  top: 50%;
  transform: translateX(100%) translateY(-50%);
}
.#{$trigger-arrow-prefix-cls}-left-bottom {
  transform: translateX(100%);
}
// --------左侧箭头 end--------

// --------右侧箭头 start--------
.#{$trigger-arrow-prefix-cls}-right-top,
.#{$trigger-arrow-prefix-cls}-right-center,
.#{$trigger-arrow-prefix-cls}-right-bottom {
  left: 0;
}
.#{$trigger-arrow-prefix-cls}-right-top {
  transform: translateX(-100%);
}
.#{$trigger-arrow-prefix-cls}-right-center {
  top: 50%;
  transform: translateX(-100%) translateY(-50%);
}
.#{$trigger-arrow-prefix-cls}-right-bottom {
  transform: translateX(-100%);
}
// --------右侧箭头 end--------