@import '../../style/variables.scss';

$arrow-prefix-cls: '#{$rbp-prefix}-arrow';

.#{$arrow-prefix-cls}-icon {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;

  &.#{$arrow-prefix-cls}-icon-top {
    border-bottom-color: currentColor;
  }

  &.#{$arrow-prefix-cls}-icon-bottom {
    border-top-color: currentColor;
  }

  &.#{$arrow-prefix-cls}-icon-left {
    border-right-color: currentColor;
  }

  &.#{$arrow-prefix-cls}-icon-right {
    border-left-color: currentColor;
  }
}