@import "../style/variables.scss";

$dropdown-prefix-cls: '#{$prefix-class}-dropdown';

.#{$dropdown-prefix-cls} {
  box-shadow: 
    0 3px 6px -4px rgba(0, 0, 0, .1),
    0 6px 16px 0 rgba(0, 0, 0, .08),
    0 9px 28px 8px rgba(0, 0, 0, .05);

  &::before {
    position: absolute;
    z-index: -9999;
    opacity: .0001;
    content: " ";
  }

  &::before {
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
  }
}
