@import '../style/variables.scss';

$tooltip-prefix-cls: '#{$prefix-class}-tooltip';

$bg-color: rgba(0, 0, 0, .75);

.#{$tooltip-prefix-cls} {
  &.#{$tooltip-prefix-cls}-top {
    padding-bottom: 8px;
  }

  &.#{$tooltip-prefix-cls}-right {
    padding-left: 8px;
  }

  &.#{$tooltip-prefix-cls}-bottom {
    padding-top: 8px;
  }

  &.#{$tooltip-prefix-cls}-left {
    padding-right: 8px;
  }
}

.#{$tooltip-prefix-cls}-content {
  position: relative;
  max-width: 250px;
}

.#{$tooltip-prefix-cls}-arrow {
  color: $bg-color;
  border-width: 3px;
}

.#{$tooltip-prefix-cls}-inner {
  background-color: $bg-color;
  color: #fff;
  padding: 4px 10px;
  border-radius: 2px;
}