@import '../style/variables.scss';

$tootip-prefix-cls: '#{$prefix-class}-tooltip';

$bg-color: rgba(0, 0, 0, .75);

.#{$tootip-prefix-cls} {
  &.#{$tootip-prefix-cls}-top-left,
  &.#{$tootip-prefix-cls}-top-center,
  &.#{$tootip-prefix-cls}-top-right {
    padding-bottom: 8px;
  }
  &.#{$tootip-prefix-cls}-right-top,
  &.#{$tootip-prefix-cls}-right-center,
  &.#{$tootip-prefix-cls}-right-bottom {
    padding-left: 8px;
  }
  &.#{$tootip-prefix-cls}-bottom-left,
  &.#{$tootip-prefix-cls}-bottom-center,
  &.#{$tootip-prefix-cls}-bottom-right {
    padding-top: 8px;
  }
  &.#{$tootip-prefix-cls}-left-top,
  &.#{$tootip-prefix-cls}-left-center,
  &.#{$tootip-prefix-cls}-left-bottom {
    padding-right: 8px;
  }
}

.#{$tootip-prefix-cls}-content {
  position: relative;
  max-width: 250px;
}

.#{$tootip-prefix-cls}-arrow {
  color: $bg-color;
  border-width: 3px;
}

.#{$tootip-prefix-cls}-inner {
  background-color: $bg-color;
  color: #fff;
  padding: 4px 10px;
  border-radius: 2px;
}