@import '../style/variables.scss';

$menu-item-prefix-cls: '#{$prefix-class}-menu-item';

.#{$menu-item-prefix-cls} {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-height: 32px;
  padding: 5px 12px;
  line-height: 22px;
  cursor: pointer;
  
  > a {
    color: $text-strong;
    text-decoration: none;
  }

  &.#{$menu-item-prefix-cls}-active {
    background-color: $primary-light-color;
  
    &:hover {
      background-color: $primary-light-color;
    }
  }

  &:hover {
    background-color: #f5f5f5;
  }
}