$magenta-color: #eb2f96;
$magenta-light-color: #fff0f6;

$red-color: #f5222d;
$red-light-color: #fff1f0;

$volcano-color: #fa541c;
$volcano-light-color: #fff2e8;

$orange-color: #fa8c16;
$orange-light-color: #fff7e6;

$gold-color: #faad14;
$gold-light-color: #fffbe6;

$lime-color: #a0d911;
$lime-light-color: #fcffe6;

$green-color: #52c41a;
$green-light-color: #f6ffed;

$cyan-color: #13c2c2;
$cyan-light-color: #e6fffb;

$blue-color: #1890ff;
$blue-light-color: #e6f7ff;

$geekblue-color: #2f54eb;
$geekblue-light-color: #f0f5ff;

$purple-color: #722ed1;
$purple-light-color: #f9f0ff;