body {
  --primary: #13c2c2;
  --primary-light: #e6fffb;
  --danger: #f5222d;
  --danger-light: #ffeaea;
  --warn: #fadb14;
  --warn-light: #fefbeb;
  --success: #52c41a;
  --success-light: #efffe8;
  --border-color: #eee;
}