@import './common.scss';

body {
  font-size: 14px;
  --primary: #13c2c2;
  --primary-light: #e6fffb;
  --danger: #f5222d;
  --danger-light: #ffeaea;
  --warn: #fadb14;
  --warn-light: #fefbeb;
  --success: #52c41a;
  --success-light: #efffe8;
  --border-color: #d9d9d9;
  --background-disabled: #f5f5f5;
  --text-strong: #000;
  --text-second: rgba(0, 0, 0, .75);

  --height-base: 32px;
  --height-lg: 40px;
  --height-sm: 24px;

  --font-size-base: 14px;
  --font-size-lg: 16px;
  --font-size-sm: 12px;
}