// 全局变量

$rbp-prefix: 'rbp';

$primary: var(--primary);
$primary-light: var(--primary-light);

$danger: var(--danger);
$danger-light: var(--danger-light);

$warn: var(--warn);
$warn-light: var(--warn-light);

$success: var(--success);
$success-light: var(--success-light);