// 全局变量

$prefix-class: 'rbp';

$text-strong: var(--text-strong);
$text-second: var(--text-second);
$text-third: var(--text-third);

$primary: var(--primary);
$primary-light: var(--primary-light);

$danger: var(--danger);
$danger-light: var(--danger-light);

$warn: var(--warn);
$warn-light: var(--warn-light);

$success: var(--success);
$success-light: var(--success-light);

$border-color: var(--border-color);

$background-disabled: var(--background-disabled);

$height-base: var(--height-base);
$height-lg: var(--height-lg);
$height-sm: var(--height-sm);

$font-size-base: var(--font-size-base);
$font-size-lg: var(--font-size-lg);
$font-size-sm: var(--font-size-sm);