@import '../style/variables.scss';

$btn-prefix-cls: '#{$prefix-class}-btn';

.#{$btn-prefix-cls} {
  display: inline-block;
  text-align: center;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 2px;
  white-space: nowrap;
  line-height: 1.5;

  > span {
    display: inline-block;
  }

  > a {
    text-decoration: none;
    color: inherit;
  }

  &.#{$btn-prefix-cls}-theme-default {
    border-color: #f0f0f0;
    background-color: #f0f0f0;
    color: #000;

    .loading-icon {
      color: #000;
    }
  }

  &.#{$btn-prefix-cls}-theme-primary {
    border-color: $primary;
    background-color: $primary;
    color: #fff;

    .loading-icon {
      color: #fff;
    }
  }

  &.#{$btn-prefix-cls}-theme-ghost {
    border-color: $primary;
    background-color: transparent;
    color: $primary;

    .loading-icon {
      color: $primary;
    }
  }

  &.#{$btn-prefix-cls}-theme-danger {
    border-color: $danger;
    background-color: $danger;
    color: #fff;

    .loading-icon {
      color: #fff;
    }
  }
}

// 属性 圆角/大小
.#{$btn-prefix-cls} {
  height: $height-base;
  font-size: $font-size-base;
  padding: 4px 15px;

  &.#{$btn-prefix-cls}-size-lg {
    height: $height-lg;
    font-size: $font-size-lg;
    padding: 6px 15px;

    &.#{$btn-prefix-cls}-circle {
      border-radius: $height-lg;
    }

    .#{$btn-prefix-cls}-loading-icon {
      margin-right: 10px;
      font-size: 20px;
    }
  }

  &.#{$btn-prefix-cls}-size-sm {
    height: $height-sm;
    font-size: $font-size-sm;
    padding: 0 7px;

    &.#{$btn-prefix-cls}-circle {
      border-radius: $height-sm;
    }

    .#{$btn-prefix-cls}-loading-icon {
      margin-right: 6px;
      font-size: 12px;
    }
  }
}

// 属性 圆角/块元素
.#{$btn-prefix-cls} {
  &.#{$btn-prefix-cls}-circle {
    border-radius: $height-base;
  }

  &.#{$btn-prefix-cls}-block {
    display: block;
    width: 100%;
  }
}

// 属性 禁用/加载中
.#{$btn-prefix-cls} {
  &.#{$btn-prefix-cls}-loading {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      z-index: 1;
      opacity: 0.35;
      background-color: #fff;
      pointer-events: none;
    }
  }

  &.#{$btn-prefix-cls}-disabled,
  &[disabled] {
    background-color: $background-disabled;
    color: $border-color;
    border-color: $border-color;
  }

  &.#{$btn-prefix-cls}-loading {
    cursor: progress;
  }

  &.#{$btn-prefix-cls}-disabled,
  &[disabled] {
    cursor: not-allowed;
  }

  .#{$btn-prefix-cls}-loading-icon {
    display: inline-block;
    background-size: cover;
    margin-right: 8px;
    font-size: 18px;
  }
}