@import "../style/variables.scss";

$input-prefix-cls: '#{$prefix-class}-input';

.#{$input-prefix-cls}-wrapper {
  flex: 1;
  display: flex;
  align-items: center;

  &.#{$input-prefix-cls}-border {
    border: 1px solid $border-color;

    &:focus-within {
      border: 1px solid $primary;
    }
  }
}

.#{$input-prefix-cls} {
  flex: 1;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
}

// 属性 大小
.#{$input-prefix-cls}-wrapper {
  height: $height-base;
  font-size: $font-size-base;
  padding: 4px 10px;

  &.#{$input-prefix-cls}-size-lg {
    height: $height-lg;
    font-size: $font-size-lg;
    padding: 6px 10px;
  }
  &.#{$input-prefix-cls}-size-sm {
    padding: 0 7px;
    height: $height-sm;
    font-size: $font-size-sm;
  }
}

.#{$input-prefix-cls}-wrapper {
  .#{$input-prefix-cls}-prefix {
    margin-right: 4px;
  }
  .#{$input-prefix-cls}-suffix {
    margin-left: 4px;
  }
}